body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #eaeaea;
}

p {
    font-size: 1.1em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 10px 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(226, 220, 220);
}

.label { 
    width:100%; 
    float:left; 
    margin-bottom:1em; 
}

.campos {
    border-top:1px transparent solid; 
    border-left:1px transparent solid; 
    border-bottom:2px #eaeaea solid; 
    border-right:1px transparent solid; 
    color:#414141; 
    font-size:0.9em; 
    outline:none; 
    padding: 0.5em 0em;
    transition:0.4s; 
    width: 100%;
}

.campos:focus { 

    border-top:1px transparent solid; 
    border-left:1px transparent solid; 
    border-bottom:2px #0085d5 solid; 
    border-right:1px transparent solid; 
    color:#0085d5; 
    font-size: 1.01em;
}

.campos::placeholder {
    font-size: 1.2em;
}

button {
    margin: 30px 0 -10px 0;
    padding: 15px 5px;
    width: 100%;
    background-color: #0085d5;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #0085d5;
}
a:hover {
    text-decoration: underline;
}

@media (min-width: 900px) {
    main {
        flex-direction: row;
        align-items: center;
        padding: 150px;
        margin: 0 auto;
    }
    body div {
        width: 50%;
    }
    body form {
        padding: 60px 65px;
        width: 45vh;
        height: 45vh;
    }

    button {
        margin-top: 70px;
    }
}