* { margin: 0; padding: 0; }
a { text-decoration: none; }
h3 {font-weight: 400;}
html { scroll-behavior: smooth; }
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cabecalho {
    position: relative;
    height: 55vh;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -1;
}

#cabecalho-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    padding: 0px 25px;
    z-index: 1;
}

#cabecalho-content img { width: 115px; }
header #cabecalho-content nav { display: none; }
header #cabecalho-content a { color: #fff; font-weight: 500; }
header #cabecalho-content a:hover { color: #48CAEE; }

header h1 {
    font-size: 1.25em;
    font-weight: 400;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    margin: 50px auto;
}

#cabecalho-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#cabecalho-buttons button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #48CAEE;
    font-size: 1.01em;
    font-weight: 500;
    cursor: pointer;
}

.log_button {
    background-color: #F84462;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1.01em;
}

button { transition: transform 0.9s ease, border-color 0.9s ease; }
button:hover { transform: scale(1.05); transition: 0.5s; }

hr { margin: 20px; }
main { padding: 80px 30px; }

main img {
    width: 90%;
    border-radius: 15px;
}

section h2, .nome_servico {
    text-align: center;
    color: #2B8BEC;
    transition: color 0.7s ease;
}

#about, #atedimento {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

#about p, #atendimento p {
    font-size: 1.1em;
    padding: 10px;
    text-align: center;
}

#atendimento p { text-align: left;}

#servicos { margin: 60px 0; height: 84vh;}
#servicos div { margin: 20px auto; }


.card {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px rgba(113, 103, 103, 0.46);
    border-radius: 10px;
    width: 90%;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nome_servico {
    margin-bottom: 10px;
}

.card .desc_servico {
    display: none; 
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}

#depoimentos {
    text-align: center;
    margin: 60px -25px;
    padding: 50px 20px;
    background-color: #f9f9f9;
}
main section h2 { font-size: 2em; margin-bottom: 30px; }
.slider {
    position: relative;
    overflow: hidden;
    width: 85%;
    margin: 20px auto;
    height: 50vh;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}
.slider:hover {
    transform: scale(1.03);
}
.card_slide {
    
    position: absolute;
    top: 0;
    left: 100%; /* Fora da tela inicialmente */
    width: 100%;
    transition: all 0.8s ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}


.card_slide.active {
    left: 0; /* Slide ativo visível */
    opacity: 1;
}

.card_slide.prev {
    left: -100%; /* Slide anterior sai da tela */
    opacity: 0;
}

.img_cliente {
    width: 120px;
    height: 110px;
    border-radius: 50%;
    margin: 30px 0 10px 0; 
}
.nome_cliente {
    font-size: 1.4em;
    color: #FF9D00;
    margin: -15px 0;
    font-weight: bold;
}

.dep_cliente {
    padding: 0 80px;
}


footer { 
    display: flex; 
    flex-direction: column;
    gap: 30px;

    margin-top: 30px;
    padding: 15px 25px;
    background-color: #2B8BEC;
}

footer section { display: flex; flex-direction: column; }
footer h2 { color: white; text-align: left; }
footer p { text-align: center; color: white; }

footer section nav a { 
    font-size: 1.1em; 
    color: black;
    transition: color 0.3s ease;
}

footer nav a:hover { color: #FF9D00;}
footer p { font-size: 1.1em;}

footer nav { margin: 15px auto;}
footer img { width: 40px; transition: transform 0.9s ease, border-color 0.9s ease;}
footer img:hover { transform: scale(1.15); transition: 0.4s; }

footer .empresa nav, .info nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 900px) {
    #cabecalho { position: relative; height: 100vh; }
    header #cabecalho-content { margin: 0px; padding: 20px 100px; }
    header #cabecalho nav { display: flex; gap: 65px; font-size: 1.19em; }
    header h1 { font-size: 2em; margin: 150px auto; }

    #cabecalho-buttons button {
        padding: 12px 30px;
        border-radius: 5px;
        background-color: #48CAEE;
        font-size: 1.01em;
    }

    main { padding: 100px 100px; }
    main img { width: 53%; }
    main section h2 { font-size: 2.5em;}
    #about p { 
        background-color: #f9f9f9; 
        padding: 197px 50px;
        margin-left: -50px;
        border-radius: 0 15px 15px 0;
    }

    #about img { border-radius: 15px 0 0 15px;}
    #about, #atendimento { gap: 30px; }
    #servicos { margin: 60px 0; height: 80vh;}
    .card { width: 60%; }
    
    #about div, #atendimento div {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    #about div { flex-direction: row; }
    .slider { width: 35%; }
    #depoimentos {margin: 60px -100px;}

    #atendimento div { flex-direction: row-reverse; }
    #atendimento p { text-align: justify; }
    #atendimento div #txt_btn { 
        display: flexbox; 
        flex-direction: column; 
        align-items: flex-start;
    }
    
    #txt_btn a { margin: -40px 0 0 10px;}

    footer { padding: 40px; }
    footer section {
        flex-direction: row;
        justify-content: space-around;
    }
}